.container{
    max-width: 1060px;
    margin: 86px auto 135px;
    border: 2px solid $gray4 ;
    border-radius: 15px;
    padding: 39px 26px 29px;
    background-color: $gray6;
    box-sizing: border-box;

    @at-root.header{
        max-width: 650px;
        margin: 0 auto 28px;
        text-align: center;

        .tit{
            font-size: max($fontSizes...);
            font-weight: 700;

            &::after{
                content: '';
                display: block;
                height: 2px;
                background-color: $gray4;
                margin: 37px auto 28px;
            }
        }

        .nav{
            font-size: nth($fontSizes, 2);
            color: $gray3;
            font-weight: 500;

            button{
                margin: 0 30px;
                &.on{
                    color: #000;
                    font-weight: 900;
                }
                &:hover{font-weight: 900;}
            }
        }
    }

    @at-root .main{
        padding: 24px 25px 28px;
        background-color: #fff;
        border: 2px solid $gray4;
        border-radius: 15px;

        .list-movie{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap:24px 23px;

            @at-root .movie{
                border: 1px solid #BDBDBD;
                box-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
                border-radius: 10px;
                padding: 18px 19px 0;
                overflow: hidden;

                .name{
                    font-weight: 900;
                    font-size: nth($fontSizes, 2);
                    margin: 11px 0 12px;
                    @include ellipsis;
                }
                
                .info{
                    display: grid;
                    grid-template-columns: 0.8fr 78px 0.8fr 1.2fr;
                    gap: 5px 0;
                    font-size: min($fontSizes...);
                    .tit{
                        color: $gray3;
                    }

                    .txt{
                        &.grade::before{
                            @include beforeAfter(inline-block, '../img/star.png',top);
                            width: 14px;
                            height: 14px;
                            margin-right: 4px;
                        }

                        &.date, &.act{grid-column: 2/5;}
                        &.act{@include ellipsis;}
                    }
                }

                .btn-wrap{
                    margin: 18px -19px 0;
                    background-color: $gray6;
                    border-top: 1px solid $gray4;

                    .btn{
                        width: 50%;
                        box-sizing: border-box;
                        padding: 9px 12px 12px;
                        font-weight: 500;
                        background-color: $gray6;

                        &+.btn{ border-left: 1px solid $gray4; }
                    }

                    .preview::before{
                        @include beforeAfter(inline-block, '../img/icon_play.png',bottom);
                        width: 16px;
                        height: 16px;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

