.container{
    max-width: 1060px;
    margin: 86px auto 135px;
    border: 2px solid $gray4 ;
    border-radius: 15px;
    padding: 39px 26px 29px;
    background-color: $gray6;
    box-sizing: border-box;

    @at-root.header{
        max-width: 650px;
        margin: 0 auto 28px;
        text-align: center;

        .tit{
            font-size: max($fontSizes...);
            font-weight: 700;

            &::after{
                content: '';
                display: block;
                height: 2px;
                background-color: $gray4;
                margin: 37px auto 28px;
            }
        }

        .nav{
            font-size: nth($fontSizes, 2);
            color: $gray3;
            font-weight: 500;

            button{
                margin: 0 30px;
                &.on{
                    color: #000;
                    font-weight: 900;
                }
                &:hover{font-weight: 900;}
            }
        }
    }

    @at-root .main{
        padding: 24px 25px 28px;
        background-color: #fff;
        border: 2px solid $gray4;
        border-radius: 15px;

        .list-movie{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap:24px 23px;

            @at-root .movie{
                border: 1px solid #BDBDBD;
                box-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
                border-radius: 10px;
                padding: 279px 19px 60px;
                overflow: hidden;
                // padding-top: 250px;
                position: relative;

                .poster{
                    width: 180px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 18px;
                    height: 250px;
                    border: 1px solid #BDBDBD;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                }

                .name{
                    font-weight: 900;
                    font-size: nth($fontSizes, 2);
                    margin-top: 11px;
                    @include ellipsis;
                }
                
                .info{
                    display: grid;
                    grid-template-columns: 0.8fr 78px 0.8fr 1.2fr;
                    gap: 5px 0;
                    font-size: min($fontSizes...);
                    margin-top: 12px;
                    .tit{
                        color: $gray3;
                    }

                    .txt{
                        &.grade::before{
                            @include beforeAfter(inline-block,top);
                            @include btnBg('../img/star.png', 14px);
                            width: 14px;
                            height: 14px;
                            margin-right: 4px;
                        }

                        &.date, &.act{grid-column: 2/5;}
                        &.act{@include ellipsis;}
                    }
                }

                .btn-wrap{
                    // margin: 18px -19px 0;
                    background-color: $gray6;
                    border-top: 1px solid $gray4;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    
                    .btn{
                        width: 50%;
                        box-sizing: border-box;
                        padding: 9px 12px 12px;
                        font-weight: 500;
                        background-color: $gray6;

                        &+.btn{ border-left: 1px solid $gray4; }
                    }

                    .preview::before{
                        @include beforeAfter(inline-block, bottom);
                        @include btnBg('../img/icon_play.png', 16px);
                        width: 16px;
                        height: 16px;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

