@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("reset.css");
.wrap {
  max-width: 1190px;
  padding: 0 2em;
  margin: 0 auto;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1060px;
  margin: 86px auto 135px;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
  padding: 39px 26px 29px;
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  max-width: 650px;
  margin: 0 auto 28px;
  text-align: center;
}

.header .tit {
  font-size: 24px;
  font-weight: 700;
}

.header .tit::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #BDBDBD;
  margin: 37px auto 28px;
}

.header .nav {
  font-size: 16px;
  color: #828282;
  font-weight: 500;
}

.header .nav button {
  margin: 0 30px;
}

.header .nav button:hover {
  font-weight: 900;
}

.header .nav button.on {
  color: #000;
  font-weight: 900;
}

.main {
  padding: 24px 25px 28px;
  background-color: #fff;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
}

.main .list-movie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px 23px;
}

.movie {
  border: 1px solid #BDBDBD;
  -webkit-box-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
          box-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  padding: 18px 19px 0;
  overflow: hidden;
}

.movie .name {
  font-weight: 900;
  font-size: 16px;
  margin: 11px 0 12px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 78px 0.8fr 1.2fr;
      grid-template-columns: 0.8fr 78px 0.8fr 1.2fr;
  gap: 5px 0;
  font-size: 13px;
}

.movie .info .tit {
  color: #828282;
}

.movie .info .txt.grade::before {
  content: '';
  display: inline-block;
  background-image: url("../img/star.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: top;
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.movie .info .txt.date, .movie .info .txt.act {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.movie .info .txt.act {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie .btn-wrap {
  margin: 18px -19px 0;
  background-color: #F2F2F2;
  border-top: 1px solid #BDBDBD;
}

.movie .btn-wrap .btn {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 12px 12px;
  font-weight: 500;
  background-color: #F2F2F2;
}

.movie .btn-wrap .btn + .btn {
  border-left: 1px solid #BDBDBD;
}

.movie .btn-wrap .preview::before {
  content: '';
  display: inline-block;
  background-image: url("../img/icon_play.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.footer {
  padding: 54px 0 38px;
  background-color: #F2F2F2;
  color: #4F4F4F;
}

.footer .logo {
  display: inline-block;
  width: 147.5px;
}

.footer .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer .sns-wrap {
  float: right;
}

.footer .sns-wrap a:nth-child(1) {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer .sns-wrap a:nth-child(2) {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer .sns-wrap a:nth-child(3) {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer .sns-wrap a + a {
  margin-left: 22px;
}

.info-wrap {
  border-top: 1px solid #C4C4C4;
  margin-top: 41px;
  padding-top: 36px;
}

.info-wrap .company-info {
  line-height: 1;
  float: left;
}

.info-wrap .company-info dt, .info-wrap .company-info dd:nth-of-type(1) {
  font-weight: 700;
}

.info-wrap .company-info dt {
  padding-left: 8px;
  float: left;
}

.info-wrap .company-info dd {
  position: relative;
  margin-left: 4px;
  padding-right: 8px;
  float: left;
}

.info-wrap .company-info dd::after {
  content: '';
  background-color: #4F4F4F;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.info-wrap .company-info dd:last-child:after {
  display: none;
}

.info-wrap .copy-right {
  float: right;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */